.alert{
    padding: 0.5rem;
    border-radius: 5px;
   
}

.alert-info{
    background-color: var(--fu-blue-light);
    color: var(--fu-blue-dark);
}

.alert-success{
    background-color: var(--fu-green-light);
    color:var(--fu-success);
}

.alert-danger{
    background-color: var(--fu-red-light);
    color: var(--fu-danger);
}

.alert-warning{
    background-color: var(--fu-yellow-light);
    color: var(--fu-warning); 
}


/* <!-- Alert with additional content --> */


/* SUccess Alert */
.alert-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.alert-action{
    display: flex;
    gap:0.5rem;
}

.btn-success-view{
    background-color: var(--fu-success);
    border-radius: 8px;
    color: var(--fu-white);
    border:none;
}


.btn-success-dismiss{
    background-color: var(--fu-white);
    border-radius: 8px;
    color: var(--fu-success);
    border:1px solid  var(--fu-success);
}

/* Danger Alert */

.btn-danger-view{
    background-color: var(--fu-danger);
    border-radius: 8px;
    color: var(--fu-white);
    border:none;
}


.btn-danger-dismiss{
    background-color: var(--fu-white);
    border-radius: 8px;
    color: var(--fu-danger);
    border:1px solid  var(--fu-danger);
}

/* Warning Alert */

.btn-warning-view{
    background-color: var(--fu-warning);
    border-radius: 8px;
    color: var(--fu-white);
    border:none;
}


.btn-warning-dismiss{
    background-color: var(--fu-white);
    border-radius: 8px;
    color: var(--fu-warning);
    border:1px solid  var(--fu-warning);
}