/* BADGE WITH TEXT */
.badge-with-text {
  display: flex;
  height: 2rem;
  text-align: center;
}

.badge-count {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fu-blue-dark);
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
  margin-top: -8px;
  color: white;
  font-weight: bold;
}

/* BADGE IN ACTION BUTTON */
.badge-action {
  display: inline-block;
  position: relative;
}

.badge-action-btn {
  background-color: var(--fu-blue-dark);
  border: 0;
  padding: var(--fu-btn-padding);
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.action-count,
.action-count-toggle {
  background-color: var(--fu-primary);
  position: absolute;
  top: 0;
  right: -10px;
}

/* BADGE ACTION BUTTON TOGGLE */

.toggle {
  background-color: white;
  color: rebeccapurple;
  border: rebeccapurple solid 1px;
}

/* BADGE ICON */
.badge-icon {
  display: inline-block;
  position: relative;
}

.badge-icon i {
  font-size: 1.8rem;
  color: var(--fu-primary);
}

.badge-icon-count {
  position: absolute;
  top: -8px;
  right: -10px;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fu-blue-dark);
  border-radius: 8px;
  color: var(--fu-white);
}

/* Profile Badge */
.profile-badge {
  border: 2px solid var(--fu-green);
  border-radius: 50%;
  position: relative;
}

.profile-badge span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;
}

.online {
  background-color: var(--fu-teal);
}

.offline {
  background-color: var(--fu-gray-700);
}

.idle {
  background-color: var(--fu-orange);
}

.do-not-disturb {
  background-color: var(--fu-danger);
}

.profile-add {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fu-primary);
}

.profile-add i {
  color: white;
}
