@import url("./avatar.css");
@import url("./badge.css");
@import url("./alert.css");
@import url("./button.css");
@import url("./card.css");

:root {
  --fu-blue: #0d6efd;
  --fu-blue-light: #c3ddfd;
  --fu-blue-lighter: #ebf5ff;
  --fu-blue-dark: #1e429f;
  --fu-indigo: #6610f2;
  --fu-purple: #6f42c1;
  --fu-purple-light: #d8b4fe;
  --fu-pink: #d63384;
  --fu-red: #dc3545;
  --fu-red-light: #fca5a5;
  --fu-orange: #fd7e14;
  --fu-yellow: #ffc107;
  --fu-yellow-light: #fdf6b2;
  --fu-green: #198754;
  --fu-green-light: #bbf7d0;
  --fu-teal: #20c997;
  --fu-cyan: #0dcaf0;
  --fu-white: #fff;
  --fu-gray: #6c757d;
  --fu-gray-dark: #343a40;

  --fu-gray-100: #f9fafb;
  --fu-gray-200: #f3f4f6;
  --fu-gray-300: #e5e7eb;
  --fu-gray-400: #d1d5db;
  --fu-gray-500: #9ca3af;
  --fu-gray-600: #6b7280;
  --fu-gray-700: #4b5563;
  --fu-gray-800: #374151;
  --fu-gray-900: #111827;

  --fu-primary: #0d6efd;
  --fu-secondary: #6c757d;
  --fu-success: #198754;
  --fu-info: #0dcaf0;
  --fu-warning: #a16207;
  --fu-danger: #dc3545;
  --fu-light: #f8f9fa;
  --fu-dark: #212529;
  --fu-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --fu-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --fu-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );

  --fu-body-font-family: var(--fu-font-sans-serif);
  --fu-body-font-size: 1rem;
  --fu-body-font-weight: 400;
  --fu-body-line-height: 1.5;
  --fu-body-color: #212529;
  --fu-body-bg: #fff;

  --fu-btn-padding: 0.6rem 1rem;
  --fu-shadow-gray: rgba(0, 0, 0, 0.1) 0px 10px 50px;

  /* Gradient */
  --fu-grad-blue: linear-gradient(to right, #3b82f6, #2563eb, #1d4ed8);
  --fu-grad-green: linear-gradient(to right, #4ade80, #22c55e, #16a34a);
  --fu-grad-cyan: linear-gradient(to right, #22d3ee, #06b6d4, #0891b2);
  --fu-grad-teal: linear-gradient(to right, #2dd4bf, #14b8a6, #0d9488);
  --fu-grad-red: linear-gradient(to right, #f87171, #ef4444, #dc2626);
  --fu-grad-pink: linear-gradient(to right, #f472b6, #ec4899, #db2777);
  --fu-grad-purple: linear-gradient(to right, #a855f7, #9333ea, #7e22ce);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--fu-body-font-family);
  font-size: var(--fu-body-font-size);
  font-weight: var(--fu-body-font-weight);
  line-height: var(--fu-body-line-height);
  color: var(--fu-body-color);
  background-color: var(--fu-body-bg);
}

/* TYPOGRAPHY */
h6,
h5,
h4,
h3,
h2,
h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 2.5rem;
  }
}

h2,
.h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2,
  .h2 {
    font-size: 2rem;
  }
}

h3,
.h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3,
  .h3 {
    font-size: 1.75rem;
  }
}

h4,
.h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4,
  .h4 {
    font-size: 1.5rem;
  }
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

b,
strong {
  font-weight: bolder;
}

small,
.text-small {
  font-size: 0.875em;
}

a {
  color: #0d6efd;
  text-decoration: none;
}
a:hover {
  color: #0a58ca;
}

pre,
code {
  font-family: var(--bs-font-monospace);
  font-size: 1em;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}

pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

code {
  font-size: 0.875em;
  color: #d63384;
  word-wrap: break-word;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
}

button,
select {
  text-transform: none;
}

[role="button"],
button {
  cursor: pointer;
  padding: 0.6rem 1rem;
  border: none;
  font-weight: 500;
  font-size: 1rem;
}

textarea {
  resize: vertical;
}


/* GUTTER */
.g-0,
.gx-0 {
  padding: 0 0;
}

.g-0,
.gy-0 {
  padding: 0 0;
}

.g-1,
.gx-1 {
  padding: 0 0.25rem;
}

.g-1,
.gy-1 {
  padding: 0.25rem 0;
}

.g-2,
.gx-2 {
  padding: 0 0.5rem;
}

.g-2,
.gy-2 {
  padding: 0.5rem 0;
}

.g-3{
  padding: 1 rem;
}
.gx-3 {
padding: 0 1rem;
}

.gy-3 {
  padding: 1rem 0;
}

.g-4{
padding: 1rem;
}
.gx-4 {
padding: 0 1rem;
}

.gy-4 {
  padding: 1.5rem 0;
}

.g-5,
.gx-5 {
  padding: 0 2rem;
}

.g-5,
.gy-5 {
  padding: 2rem 0;
}

.g-6,
.gx-6 {
  padding: 0 3rem;
}

.g-6,
.gy-6 {
  padding: 3rem 0;
}


/* LIST STYLE */
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}

.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

.text-gray {
  color: var(--fu-gray-800);
}

.text-center {
  text-align: center;
}

/* DISPLAY TEXT */
.text-1 {
  font-size: calc(1.625rem + 4.5vw);
  font-weight: 300;
  line-height: 1.2;
}

.text-2 {
  font-size: calc(1.575rem + 3.9vw);
  font-weight: 300;
  line-height: 1.2;
}

.text-3 {
  font-size: calc(1.525rem + 3.3vw);
  font-weight: 300;
  line-height: 1.2;
}

.text-4 {
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 300;
  line-height: 1.2;
}

.text-5 {
  font-size: calc(1.425rem + 2.1vw);
  font-weight: 300;
  line-height: 1.2;
}

.text-6 {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 300;
  line-height: 1.2;
}

/* BORDER RADIUS */
.radius-s {
  border-radius: 5px;
}

.radius-m {
  border-radius: 8px;
}

.radius-l {
  border-radius: 16px;
}

.radius-full {
  border-radius: 9999px;
}

/* FONT WEIGHT */
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
