@import url("./avatar.css");
@import url("./badge.css");
@import url("./alert.css");
@import url("./button.css");
@import url("./card.css");
@import url("./image.css");
@import url("./input.css");
@import url("./navigation.css");
@import url("./list.css");
@import url("./text-utils.css");
@import url("./modal.css");
@import url("./grid.css");
@import url("./toast.css");
@import url("./rating.css");
@import url("./color.css");

/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --fu-blue: #0d6efd;
  --fu-blue-light: #c3ddfd;
  --fu-blue-lighter: #ebf5ff;
  --fu-blue-dark: #1e429f;
  --fu-indigo: #6610f2;
  --fu-purple: #6f42c1;
  --fu-purple-light: #d8b4fe;
  --fu-pink: #d63384;
  --fu-red: #dc3545;
  --fu-red-light: #fca5a5;
  --fu-orange: #fd7e14;
  --fu-yellow: #ffc107;
  --fu-yellow-light: #fdf6b2;
  --fu-green: #198754;
  --fu-green-light: #bbf7d0;
  --fu-teal: #20c997;
  --fu-cyan: #0dcaf0;
  --fu-white: #fff;
  --fu-gray: #6c757d;
  --fu-gray-dark: #343a40;

  --fu-gray-100: #f9fafb;
  --fu-gray-200: #f3f4f6;
  --fu-gray-300: #e5e7eb;
  --fu-gray-400: #d1d5db;
  --fu-gray-500: #9ca3af;
  --fu-gray-600: #6b7280;
  --fu-gray-700: #4b5563;
  --fu-gray-800: #374151;
  --fu-gray-900: #111827;

  --fu-primary: #0d6efd;
  --fu-secondary: #6c757d;
  --fu-success: #198754;
  --fu-info: #0dcaf0;
  --fu-warning: #a16207;
  --fu-danger: #dc3545;
  --fu-light: #f8f9fa;
  --fu-dark: #212529;
  --fu-primary-dark: #111827;
  --fu-accent-dark: #1c64f2;
  --fu-body-color-dark: rgb(245, 235, 235);
  --fu-secondary-dark: #1f2937;
  --fu-font-popins: "Popins", sans-serif;
  --fu-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );

  --fu-body-font-family: "Roboto", sans-serif;
  --fu-body-font-size: 1rem;
  --fu-body-font-weight: 400;
  --fu-body-line-height: 1.5;
  --fu-body-color: #212529;
  --fu-body-bg: #fff;

  --fu-btn-padding: 0.6rem 1rem;
  --fu-default-padding: 0.5rem;
  --fu-shadow-gray: rgba(0, 0, 0, 0.1) 0px 10px 50px;

  /* Gradient */
  --fu-grad-blue: linear-gradient(to right, #3b82f6, #2563eb, #1d4ed8);
  --fu-grad-green: linear-gradient(to right, #4ade80, #22c55e, #16a34a);
  --fu-grad-cyan: linear-gradient(to right, #22d3ee, #06b6d4, #0891b2);
  --fu-grad-teal: linear-gradient(to right, #2dd4bf, #14b8a6, #0d9488);
  --fu-grad-red: linear-gradient(to right, #f87171, #ef4444, #dc2626);
  --fu-grad-pink: linear-gradient(to right, #f472b6, #ec4899, #db2777);
  --fu-grad-purple: linear-gradient(to right, #a855f7, #9333ea, #7e22ce);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--fu-body-font-family);
  font-size: var(--fu-body-font-size);
  font-weight: var(--fu-body-font-weight);
  line-height: var(--fu-body-line-height);
  color: var(--fu-body-color);
  background-color: var(--fu-body-bg);
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul {
  padding-left: 1rem;
}

b,
strong {
  font-weight: bolder;
}

a {
  color: inherit;
  text-decoration: none;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}

pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

code {
  font-size: 0.875em;
  color: #d63384;
  word-wrap: break-word;
}

input,
button,
select,
optgroup,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[role="button"],
button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  font-weight: 500;
  font-size: 1rem;
}

textarea {
  resize: vertical;
}

/* GUTTER PADDING*/
.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.25rem;
}
.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p-3 {
  padding: 1 rem;
}
.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p-4 {
  padding: 1.5rem;
}
.px-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.p-5 {
  padding: 2rem;
}
.px-5 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.py-5 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.p-6 {
  padding: 3rem;
}
.px-6 {
  padding-left: 3rem;
  padding-right: 3rem;
}
.py-6 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* GUTTER MARGIN */
.m-0 {
  margin: 0;
}
.m-1 {
  margin: 0.25rem;
}
.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.m-3 {
  margin: 1rem;
}

.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-4 {
  margin: 1.5rem;
}
.mx-4 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.m-5 {
  margin: 2rem;
}
.mx-5 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.my-5 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.m-6 {
  margin: 3rem;
}
.mx-6 {
  margin-left: 3rem;
  margin-right: 3rem;
}
.my-6 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* LIST STYLE */
.list-unstyled {
  list-style: none;
  padding-left: 0;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}

.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

/* BORDER RADIUS */
.radius-sm {
  border-radius: 5px;
}

.radius-md {
  border-radius: 0.5rem;
}

.radius-lg {
  border-radius: 1rem;
}

.radius-full {
  border-radius: 9999px;
}

/* FONT WEIGHT */
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}



/* FLEX  */
.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.items-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}
.wrap {
  flex-wrap: wrap;
}

.block {
  display: block;
}

.border-b {
  border-bottom: solid 1px var(--fu-dark);
}

.border {
  border: 1px solid var(--fu-gray-400);
}
