@import url(./../components/main.css);
@import url("./css/avatar.css");
@import url("./css/alert.css");
@import url("./css/badge.css");
@import url("./css/button.css");
@import url("./css/card.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow:hidden;
    font-family: var(--fu-font-sans-serif);
    background-color: var(--fu-body-bg);
    color: var(--fu-body-color);
}
header{
    background: var(--fu-grad-blue);
    padding: 0.5rem;
    color: white;
}

.container{
    display: flex;
    overflow:hidden;
}


.sidebar{
    width: 250px;
    background-color: var(--fu-blue-lighter);
    padding-left: 1rem;
}

.content-main{
    flex-grow: 1;
    overflow-y: auto;
    height: 88vh;
    max-width: 85vw;
}

.nav{
    overflow: auto;
}

.nav-list{
    text-decoration: none;
    padding: 0.5rem;
    overflow: auto;
    height: 100vh;
}

.nav-list li{
    height: 2rem;
}

.nav-list li a{
    text-decoration: none;
    color: #4B5563;
}

.nav-list li a:hover{
    color: #1C64F2;
}

.btn-copy{
    background-color: transparent;
    border-top:2px solid var(--fu-orange);
    border-left:2px solid var(--fu-orange);
    border-right:2px solid var(--fu-orange);
    padding: 0.5rem;
    color: var(--fu-primary);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.language-html{
    max-height: 40vh;
    /* display: inline-block; */
}
/* pre{
    display: flex;
    flex-direction: column;
}
pre code.language-html{
    display: inline-block;
}

.html-code{
    display: inline-block;
} */
/* AVATAR */

.avatar-container, .badge-container, .button-container, .card-container{
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
}

/* ALERT */

.alert-container{
    display: inline-flex;
    flex-direction: column;
    gap: 1rem;
}

/* CARD */
.card-container{
    justify-content: space-around;
}