@import url(./../components/main.css);
@import url("./css/avatar.css");
@import url("./css/alert.css");
@import url("./css/badge.css");
@import url("./css/button.css");
@import url("./css/card.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: var(--fu-body-bg);
  color: var(--fu-body-color);
}
header {
  background: var(--fu-grad-blue);
  padding: 0.5rem;
  color: white;
}

.container {
  display: flex;
  overflow: hidden;
}

.sidebar {
  flex-basis: 250px;
  flex-shrink: 0;
  background-color: var(--fu-blue-lighter);
  padding-left: 1rem;
}

.content-main {
  flex-grow: 1;
  overflow-y: auto;
  height: 88vh;
  max-width: 85vw;
}

.nav {
  overflow: auto;
}

.nav-list {
  text-decoration: none;
  padding: 0.5rem;
  overflow: auto;
  height: 100vh;
}

.nav-list li {
  height: 2rem;
}

.nav-list li a {
  text-decoration: none;
  color: var(--fu-gray-800);
}

.nav-list li a:hover {
  color: var(--fu-primary);
  border-bottom: 2px solid var(--fu-primary);
}

.btn-copy {
  background-color: transparent;
  border: 2px solid var(--fu-orange);
  border-bottom: 0;
  padding: 0.5rem;
  color: var(--fu-primary);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.language-html {
  max-height: 40vh;
}

/* AVATAR */

.avatar-container,
.badge-container,
.button-container,
.card-container,
.input-container {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

/* ALERT */

.alert-container {
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
}

/* CARD */
.card-container {
  justify-content: space-around;
}

/* INPUT */
.input-container {
  align-items: flex-start;
}

/* LIST */
.list-container .list{
  max-width: 480px;
}